.header {
    background-color: #cc4e37;
    height: 6em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.titlePage {
    // hacerlo variable
    font-family: "Yellowtail", sans-serif;
    font-size: 26px;
}

.container-Row {
    margin-top: 4em;
    // hacerlo variable
    background-color: #436e65;
    padding-top: 2em;
    padding-bottom: 2em;
}

.filterCategoryText {
    // variable
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    text-align: left;
}

.logo {
    width: 10%;
    height: 5em;
    border-radius: 25%;
}