@import "./variables.scss";
.header {
    background-color: $headerBackground;
    height: 6em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.titlePage {
    font-family: $fontTitle;
    font-size: 26px;
}

.container-Row {
    margin-top: 4em;
    background-color: $containerRowColor;
    padding-top: 2em;
    padding-bottom: 2em;
}

.filterCategoryText {
    font-family: $fontCategory;
    font-size: 15px;
    text-align: left;
}

.logo {
    width: 10%;
    height: 5em;
    border-radius: 25%;
}